@import '../../view/scss/root.scss';
.dataview{
display: flex;
width: 100%;
    .dataviewOverlay{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: 
        "header header"
        "datablocks datablocks"
        "graph graph"
        ;
        background-color: $grayLight;
        padding:0 3% 0 3%;
        header {
            grid-area: header;
            display: grid;
            grid-template-columns: 2fr;
            grid-template-areas: "logo dropdown";



            .logo{
                grid-area: logo;
                height: 70%;
                width: fit-content; 
                align-items: center; 
                justify-content: right;
                align-self: center;
                border: none;

             }
            .dropdown{
                grid-area: dropdown;
                height: 70%;
                width: fit-content;
                align-items: center; 
                justify-content: right;
                align-self: center;
                border: none;

            }
        }
        
        .datablocks{
            grid-area: datablocks;
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: "dataviewcircle blockwrapper";
            border: none;
            


            .dataViewCircle{
                grid-area: dataviewcircle;
                background: $primary;
            }
            .blockWrapper{
                grid-area: blockwrapper;
                display: grid;
                // min-height: 10%;
                // min-width: 50%; 
                gap: 2rem;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: 
                "aantal aantal aantal"
                "instroom uitstroom trend"
                ;

                
                .peopleCounter{
                    grid-area: aantal;
                    background-color: rgb(255, 255, 255);
                }
                .instroom{
                    grid-area: instroom;
                    background-color: rgb(255, 255, 255);
                }
                .uitstroom{
                    grid-area: uitstroom;
                    background-color:rgb(255, 255, 255);  
                }
                .trend{
                    grid-area: trend;
                    background-color:rgb(255, 255, 255);  
                }
                
            }
        }
        .graph{
            grid-area: graph;
            border: none;
        }
    }

    .informationOverlay {
        display: block;
        width: 40%;
        padding: 0 3% 0 3%;

        .realTimeClock {
            display: flex;
            height: 20%;
            align-items: center;
            justify-content: center;
        }

        .dataInformation {
            margin-bottom: $mMd;
            ;
        }   

        .FestivalBezoekersData {
            height: fit-content;
        }

        .Information {
            display: flex;
            font-size: 4vh;
            justify-content: left;
            align-items: center;
            width: 100%;
            margin: 5%;
        }
    }
}
