//* Dit is de root SCSS file. Hierin worden global variables gedefinieerd die we vervolgens in andere SCSS files en in components kunnen gebruiken.

//& Kleuren
$primary: #04A0B5;
$secondary: #E03076;
$whiteLight: #ffffff;
$whiteDark: #202020;
$offWhite: #CCCCCC;
$grayLight: #EEF1F6;
$grayDark: #353535;
$black: #000000;

//& Shadows
$boxShadow: -3px 2px 12px 6px hsla(187, 96, 18, 8%); 