//* Dit is de root SCSS file. Hierin worden global variables gedefinieerd die we vervolgens in andere SCSS files en in components kunnen gebruiken.

//& Kleuren
$primary: #04A0B5;
$secondary: #E03076;
$white-light: #ffffff;
$gray: #EEF1F6;